<a href="https://colab.research.google.com/github/Pranav-J-Kumar/data-science/blob/main/EXP_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

movies=pd.read_csv("IMDb movies.csv.zip")
print(movies.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

movies=pd.read_csv("IMDb ratings.csv.zip")
print(movies.head(5))

  imdb_title_id  ...  non_us_voters_votes
0     tt0000009  ...                 70.0
1     tt0000574  ...                331.0
2     tt0001892  ...                123.0
3     tt0002101  ...                105.0
4     tt0002130  ...               1166.0

[5 rows x 49 columns]

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

movies=pd.read_csv("IMDb title_principals.csv.zip")
print(movies.head(5))

  imdb_title_id  ...                                         characters
0     tt0000009  ...           ["Miss Geraldine Holbrook (Miss Jerry)"]
1     tt0000009  ...                                   ["Mr. Hamilton"]
2     tt0000009  ...  ["Chauncey Depew - the Director of the New Yor...
3     tt0000009  ...                                                NaN
4     tt0000574  ...                                     ["Kate Kelly"]

[5 rows x 6 columns]

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

movies=pd.read_csv("IMDb names.csv.zip")
print(movies.head(5))

  imdb_name_id             name  ... spouses_with_children  children
0    nm0000001     Fred Astaire  ...                     1         2
1    nm0000002    Lauren Bacall  ...                     2         3
2    nm0000003  Brigitte Bardot  ...                     1         1
3    nm0000004     John Belushi  ...                     0         0
4    nm0000005   Ingmar Bergman  ...                     5         8

[5 rows x 17 columns]

In [16]:
#check the column names
print("column names:%s"%movies.columns.values)

column names:['imdb_name_id' 'name' 'birth_name' 'height' 'bio' 'birth_details'
 'date_of_birth' 'place_of_birth' 'death_details' 'date_of_death'
 'place_of_death' 'reason_of_death' 'spouses_string' 'spouses' 'divorces'
 'spouses_with_children' 'children']

In [17]:
#discriptive ststistics
print(movies.describe())

             height        spouses  ...  spouses_with_children       children
count  44681.000000  297705.000000  ...          297705.000000  297705.000000
mean     175.007162       0.208690  ...               0.104866       0.196439
std       14.055496       0.570208  ...               0.349762       0.721257
min       20.000000       0.000000  ...               0.000000       0.000000
25%      168.000000       0.000000  ...               0.000000       0.000000
50%      175.000000       0.000000  ...               0.000000       0.000000
75%      183.000000       0.000000  ...               0.000000       0.000000
max      990.000000      12.000000  ...               6.000000      16.000000

[8 rows x 5 columns]

In [18]:
#check the null data
print("null values:\n")
print(movies.isna())
print(movies.isna().sum())
print("null values:%s" %movies.isnull().values.any())
print("total null values %d" %movies.isna().sum().sum())
print(movies.describe())

null values:

        imdb_name_id   name  ...  spouses_with_children  children
0              False  False  ...                  False     False
1              False  False  ...                  False     False
2              False  False  ...                  False     False
3              False  False  ...                  False     False
4              False  False  ...                  False     False
...              ...    ...  ...                    ...       ...
297700         False  False  ...                  False     False
297701         False  False  ...                  False     False
297702         False  False  ...                  False     False
297703         False  False  ...                  False     False
297704         False  False  ...                  False     False

[297705 rows x 17 columns]
imdb_name_id                  0
name                          0
birth_name                    0
height                   253024
bio                       93007
birth_details            187093
date_of_birth            187093
place_of_birth           193713
death_details            257772
date_of_death            257772
place_of_death           260667
reason_of_death          275011
spouses_string           252353
spouses                       0
divorces                      0
spouses_with_children         0
children                      0
dtype: int64
null values:True
total null values 2217505
             height        spouses  ...  spouses_with_children       children
count  44681.000000  297705.000000  ...          297705.000000  297705.000000
mean     175.007162       0.208690  ...               0.104866       0.196439
std       14.055496       0.570208  ...               0.349762       0.721257
min       20.000000       0.000000  ...               0.000000       0.000000
25%      168.000000       0.000000  ...               0.000000       0.000000
50%      175.000000       0.000000  ...               0.000000       0.000000
75%      183.000000       0.000000  ...               0.000000       0.000000
max      990.000000      12.000000  ...               6.000000      16.000000

[8 rows x 5 columns]